/*test is here*/
html{
	font-family: arial,sans-serif;
	font-size: 16px;
}
body {
	margin: 0;
	background-color: hsl(0,0%,50%);
	z-index: 1;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: hsl(0,0%,0%);
	color: white;
	overflow: hidden;
	z-index: 5;
}
#breadcrumb {
	display: block;
	white-space: nowrap;
	overflow: auto;
	padding: 0 1em;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
#breadcrumb::-webkit-scrollbar {
	display:none;
}
#breadcrumb::-ms-scrollbar {
	display:none;
}
#breadcrumb > span {
	padding: 0 4px;
	line-height: 2em;
}
#breadcrumb > .activeCrumb {
	color: red;
}
#questions {
	margin: 2em 0 2.5em 0;
	padding-top: 5px;
	display: block;
}
#questions>div {
	font-size: 100%;
	display: block;
	position: relative;
	font-weight: bold;
}
.qu_select{
	font-size: 85%;
	display: block;
	width: 100%;
}
#summary>span {
	float: right;
}
#questions>div
,#summary {
	padding: 5px 20px;
}
footer {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 100%;
	background-color: hsl(0,0%,50%);
	z-index: 5;
}
#progress_bar {
	height: 20px;
	background-color: hsl(0,50%,50%);
	border: 2px solid black;
	transition: background 2s;
	z-index: 9;
}
#estimate {
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	right: 5px;
}
#estimateWord{
	display: none;
	left: 5px;
}
#estimateWord
,#estimate{
	position: fixed;
	z-index: 10;
	bottom: 2px;
}
.estimateShow{
	display: inline !important;
}
@media (min-width: 720px) {
	.qu_select{
		float: right;
		width: 15em;
	}
	#progress_bar {
		height: 30px;
	}
	footer {
		font-size: 150%;
	}
}