html{
	font-family: arial,sans-serif;
	font-size: 16px;
}
body {
	margin: 0;
	background-color: hsl(0,0%,50%);
	z-index: 1;
	/*position: relative;*/
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: hsl(0,0%,0%);
	color: white;
	overflow: hidden;
	z-index: 10;
}
#breadcrumb {
	display: block;
	white-space: nowrap;
	overflow: auto;
	padding: 0 5px;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
#breadcrumb::-webkit-scrollbar {
	display:none;
}
#breadcrumb::-ms-scrollbar {
	display:none;
}
#breadcrumb > span {
	padding: 0 4px;
	line-height: 2em;
}
#breadcrumb > .activeCrumb {
	color: red;
}
#questions {
	margin-top: 2em;
	padding-top: 5px;
	display: block;
}
#questions>div {
	font-size: 120%;
	display: block;
	position: relative;
}
#questions>div>select{
	font-size: 85%;
	width: 15em;
	float: right;
}
#summary>span {
	float: right;
}
#questions>div
,#summary {
	padding: 5px 20px;
}
footer {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 30px;
	background-color: hsl(0,50%,50%);
	border-top: 2px solid black;
	transition: background 2s;
}

@media (max-width: 800px) {
	#questions>div{
		position: static;
	}
}