html{
	font-family: arial,sans-serif;
	font-size: 16px;
}
body {
	margin: 0;
	background-color: hsl(0,0%,50%);
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: hsl(0,0%,0%);
	color: white;
}
breadcrumb > span {
	padding: 0 4px;
	line-height: 2em;
}
breadcrumb > .activeCrumb {
	color: red;
}
questions {
	margin-top: 2em;
	padding-top: 5px;
	display: block;
}
question {
	font-size: 120%;
	display: block;
	padding: 5px 20px;
	position: relative;
}
question>select{
	font-size: 85%;
	width: 15em;
	float: right;
}
footer {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	border-top: 2px solid black;
	transition: background 2s;
}